<header class="d-flex align-items-center p-3 mb-4">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo-container">
            <a href="/home" class="text-decoration-none header-logo">
                <span class="d-none d-md-inline">Linked<span style="color: white;">Community</span></span>
                <img src="/assets/img/logo.png" alt="Logo" class="d-md-none logo-small">
            </a>
        </div>

        <div class="header-buttons d-flex">
            {{^isGuest}}
                <form action="/userMainPage" method="get">
                    <button type="submit" class="btn-account">
                        <i class="bi bi-person"></i><span class="ms-1"></span>Mi cuenta
                    </button>
                </form>
            {{/isGuest}}

            {{#isGuest}}
                <form action="/registrationPage" method="get">
                    <button type="submit" class="btn-register">Registrarse</button>
                </form>
            {{/isGuest}}

            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit" class="btn-logout">
                    Salir<span class="ms-2"></span><i class="bi bi-box-arrow-left"></i>
                </button>
            </form>
        </div>
    </div>
</header>
