<div class="col-md-4">
    <div class="card text-center shadow-sm position-relative">
        <div class="dropdown position-absolute top-0 start-0 m-2">
            <button class="btn btn-light btn-sm rounded-circle shadow-sm" type="button" id="userOptions"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-start shadow-sm p-2 rounded">
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="/editUserPage">
                        <i class="bi bi-pencil text-primary me-2"></i> Editar Perfil
                    </a>
                </li>
                <li>
                    <form id="eliminarUsuarioForm" action="/user/delete" method="POST">
                        <input type="hidden" name="_csrf" value="{{token}}" />
                        <button type="button" class="dropdown-item d-flex align-items-center text-danger"
                            onclick="confirmarEliminacion()">
                            <i class="bi bi-trash me-2"></i> Eliminar Perfil
                        </button>
                    </form>

                </li>
            </ul>
        </div>

        <div class="card-body">
            <img src="/user/image/{{user.id}}" alt="Foto de perfil" class="rounded-circle img-fluid mb-3 mt-5"
                style="width: 150px; height: 150px; object-fit: cover;">
            <h4 class="card-title">{{user.username}}</h4>
            <p class="text-muted">Correo: {{user.email}}</p>
            {{#user.date}}
            <p class="text-muted">Miembro desde: {{user.date}}</p>
            {{/user.date}}
        </div>
    </div>
</div>