<div class="list-group shadow-sm rounded">
    <form action="/home" method="get">
        <button type="submit" class="list-group-item list-group-item-action d-flex align-items-center w-100 border-0 {{#isHome}}active{{/isHome}}">
            <i class="bi bi-house-fill me-2"></i> Home
        </button>
    </form>
    <form action="/communities" method="get">
        <button type="submit" class="list-group-item list-group-item-action d-flex align-items-center w-100 border-0 {{#isCommunities}}active{{/isCommunities}}">
            <i class="bi bi-people-fill me-2"></i> Comunidades
        </button>
    </form>
    <form action="/posts" method="get">
        <button type="submit" class="list-group-item list-group-item-action d-flex align-items-center w-100 border-0 {{#isPosts}}active{{/isPosts}}">
            <i class="bi bi-file-text-fill me-2"></i> Posts
        </button>
    </form>
    {{^isGuest}}
    <form action="/followed" method="get">
        <button type="submit" class="list-group-item list-group-item-action d-flex align-items-center w-100 border-0 {{#isFriends}}active{{/isFriends}}">
            <i class="bi bi-person-lines-fill me-2"></i> Seguidos
        </button>
    </form>
    <form action="/people" method="get">
        <button type="submit" class="list-group-item list-group-item-action d-flex align-items-center w-100 border-0 {{#isPeople}}active{{/isPeople}}">
            <i class="bi bi-person-fill me-2"></i> Personas
        </button>
    </form>
    <form action="/admin" method="get">
        <button type="submit" class="list-group-item list-group-item-action d-flex align-items-center w-100 border-0 {{#isAdminPage}}active{{/isAdminPage}}">
            <i class="bi bi-tools me-2"></i> Panel de admin
        </button>
    </form>
    {{/isGuest}}
</div>
