<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Comunidad - {{community.name}}</title>
        {{> commons/head}}
    </head>
    
    <body class="bg-light d-flex flex-column min-vh-100">
        {{> commons/header}}
        <div class="container flex-grow-1 mt-4"> 
            <div class="d-flex justify-content-between align-items-center">
                <h2><a href="/home"class="text-decoration-none text-reset"> Comunidades</a> > {{community.name}}</h2>
            </div>
            <hr>

            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-md-2 col-12 flex-column">
                    {{^isGuest}}
                    <form action="/community/delete/{{community.id}}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger w-auto" onclick="return confirm('¿Estás seguro de que deseas eliminar esta comunidad? Esta acción no se puede deshacer.');">
                            Eliminar comunidad
                        </button>
                    </form>
                    {{/isGuest}}
                </div>
    
                <!-- Columna central -->
                <div class="col-md-8 col-12">
                    {{^isGuest}}
                    <div class="card p-3 mb-4">
                        <form action="/savePost" method="post" enctype="multipart/form-data" class="d-flex flex-column">
                            <!-- Título de la publicación-->
                            <div class="w-100 d-flex align-items-center mb-2">
                                <input type="text" id="title" name="title" placeholder="Título de la publicación" required class="form-control">
                            </div>
                            <!-- Cuadro de texto -->
                            <textarea name="content" class="form-control mb-2" placeholder="Escribe algo..." required></textarea>
                    
                            <!-- Campo oculto para el ID de la comunidad -->
                            <input type="hidden" name="communityId" value="{{community.id}}">

                            <!-- Subida de imagen y botón de envío -->
                            <div class="w-100 d-flex align-items-center gap-2">
                                <input type="file" name="image" class="form-control" accept="image/*">
                                <button type="submit" value="Save" class="btn btn-success">Publicar</button>
                            </div>
                        </form>
                    </div>
                    {{/isGuest}}
                    
                    <!-- Feed de publicaciones -->
                    <div id="feed">
                        {{#posts}}
                            <div class="card mb-3 p-3">
                                <!-- Encabezado de la publicación -->
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="d-flex align-items-center">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" class="rounded-circle me-2" style="max-width: 100%; max-height: 20px;" alt="Foto usuario">
                                        <h5 class="mb-0">{{user.username}}</h5>
                                    </div>
                                    {{^isGuest}}
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                                            &#x22EE;
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <form action="/post/delete/{{id}}" method="post" style="display: inline;">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    
                                                     <!-- Campo oculto para el ID de la comunidad -->
                                                     <input type="hidden" name="communityId" value="{{community.id}}">

                                                     <button type="submit" class="dropdown-item text-danger">Eliminar Publicación</button>
                                                </form>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                    {{/isGuest}}
                                </div>
                            
                                <!-- Contenido de la publicación -->
                                <div class="card mb-3 shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">{{title}}</h5>
                                        <p class="card-text">{{postContent}}</p>
                                        {{#image}}
                                        <img src="/post/image/{{id}}" class="img-fluid rounded" style="max-width: 100%; max-height: 100px;">
                                        {{/image}}
                                        <div class="d-flex justify-content-end">
                                            <small class="text-muted">Publicado el {{creationDate}}</small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Sección de comentarios -->
                                {{^isGuest}}
                                <div>
                                    <form enctype="multipart/form-data" class="d-flex flex gap-2 mb-3">
                                        <textarea name="commentText" class="form-control" placeholder="comenta algo..." required></textarea>
                                        <button class="btn btn-outline-primary w-10 d-flex align-items-center" onclick="mostrarAlerta()">Comentar</button>
                                    </form>
                                </div>
                                {{/isGuest}}
                                <div class="bg-light p-2 rounded">
                                    <p class="text-muted text-center">Aún no hay comentarios</p>
                                    <!--
                                    <div class="d-flex align-items-start mt-2 p-2 bg-white rounded shadow-sm">
                                        <img src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="Foto usuario">
                                        <div class="flex-grow-1">
                                            <p class="mb-1"><strong>Usuario2</strong>: Comentario de ejemplo.</p>
                                        </div>
                                         
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                                                &#x22EE;
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item text-danger" href="#">Eliminar comentario</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                -->
                                </div>

                            </div>
                        {{/posts}}

                        {{^posts}}
                            <p class="text-muted">Aún no has publicado nada.</p>    
                        {{/posts}}
                    </div>
                </div>
    
                <!-- Columna derecha -->
                <div class="col-md-2 col-12">

                </div>
            </div>
        </div>

        <!-- Contenedor de Toasts en la parte superior centrado -->
        <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1050;">
            <div id="alertToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">Aún no implementado</div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {{> commons/footer}}
    </body>
</html>