<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Linked Community</title>
        {{> commons/head}}
    </head>
    <body class="bg-light d-flex flex-column min-vh-100">

        {{> commons/header}}

        <div class="container flex-grow-1 mt-5">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-3">

                </div>

                <!-- Central column -->
                <div class="col-md-6 mb-4 align-items-center">
                    <h1 class="text-center">Error {{errorCode}}</h1>
                    <p class="text-center">{{errorMessage}}</p>
                </div>
                
                <!-- Right column -->
                <div class="col-md-3">

                </div>
            </div>
        </div>
        {{> commons/footer}}
    </body>

</html>