<html>
    <head>
        <title>APP</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>APP</h1>
            <p class="welcome">Aqui si estas registrado, bienvenido user y si no un ¿No estas registrado?</p>
            <form action="hall.html">
                <p>Perfil: <input type="text" name="nombrePerfil"></p>
            </form>
        </header>
        
        <!-- Contenedor para diseño en columnas -->
        <div class="main-content">
            <!-- Columna izquierda -->
            <div class="left-column">
                <h3>Mis comunidades</h3>
                <select id="select">
                    <option value="Comunidad1">Comunidad1</option>
                    <option value="Comunidad2">Comunidad2</option>
                    <option value="Comunidad3">Comunidad3</option>
                </select>

                <h3>
                    <a href="/posts/">Mis Posts</a>
                </h3>
            </div>

            <!-- Columna central -->
            <div class="center-column">
                <h3>Comunidades "mas visitadas"</h3>
                {{#comunities}}    
                <ul>
                    <li>{{name}}</li>
                </ul>
                {{/comunities}}

                {{^comunities}}
                <p>No hay comunidades</p>
                {{/comunities}}
            </div>

            <!-- Columna derecha -->
            <div class="right-column">
                <h3>Opciones</h3>
            </div>
        </div>
    </body>

</html>
