<!DOCTYPE html>
<html lang="es">
    <head>
        <title>LC-Página de Acceso</title>
        {{> commons/head}}
        <script src="js/validaciones.js"></script>
    </head>
    <body class="d-flex justify-content-center align-items-center vh-100 bg-light" style="background-image: url('/assets/img/background.png'); background-size: cover; background-position: center;">
        <div class="container p-4 bg-white shadow rounded" style="max-width: 800px;">
            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center border-end">
                    <h2>Bienvenido</h2>
                    <img src="/assets/img/logo.png" alt="Logo" class="img-fluid" style="height: 170px; width: 170px;">
                </div>
                <div class="col-md-6">
                    <h4 class="text-center">Login</h4>
                    {{#errorUser}}
                    <div class="alert alert-danger text-center">Usuario ya existente</div>
                    {{/errorUser}}
                    {{#errorMail}}
                    <div class="alert alert-danger text-center">Email ya existente</div>
                    {{/errorMail}}
                    {{#registrationSuccess}}
                    <div class="alert alert-info text-center">Usuario registrado correctamente</div>
                    {{/registrationSuccess}}
                    <form action="/login" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de usuario</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Ingrese su usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
                        </div>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
                    </form>
                    <div class="mb-3 text-center d-flex flex-row gap-2 m-auto justify-content-center">
                        <form action="/home" method="get">
                            <button type="submit" class="btn btn-secondary mt-3">Acceso Invitado</button>
                        </form>
                        <a href="/registrationPage" class="btn btn-secondary mt-3">¿No estás registrado?</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
