<html>
    <head>
        <title>APP</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>APP</h1>
            <p class="welcome">Aqui si estas registrado, bienvenido user y si no un ¿No estas registrado?</p>
            <form action="hall.html">
                <p>Perfil: <input type="text" name="nombrePerfil"></p>
            </form>
        </header>
        <h2>Post Guardado</h2>
        <a href="/posts/">Back</a>
    </body>
</html>
