<!DOCTYPE html>
<html lang="es">
    <head>
        <title>LC-Mi cuenta</title>
        {{> commons/head}}
    </head>
    <body class="bg-light d-flex flex-column min-vh-100">
        {{> commons/header}}
        <!--{{#exito}}
        alert("Usuario editado con exito") This little block was an idea to show a message when the user edited his profile, but it didn't work
        {{/exito}}                    we will try to implement it later -->  

        <!-- Contenido principal -->
        <div class="container flex-grow-1 mt-5">
            <div class="row">
                <!-- Sección de perfil -->
                <div class="col-md-4">
                    <div class="card text-center shadow-sm position-relative">
                        <!-- Dropdown en la esquina superior derecha con tres puntos verticales -->
                        <div class="dropdown position-absolute top-0 start-0 m-2">
                            <button class="btn btn-light btn-sm rounded-circle shadow-sm" type="button" id="userOptions" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i> <!-- Icono de tres puntos -->
                            </button>
                            <ul class="dropdown-menu dropdown-menu-start shadow-sm p-2 rounded">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="/edit_user_page">
                                        <i class="bi bi-pencil text-primary me-2"></i> Editar Perfil
                                    </a>
                                </li>
                                <li>
                                    <form id="eliminarUsuarioForm" action="/user/delete" method="POST">
                                        <button type="button" class="dropdown-item d-flex align-items-center text-danger" onclick="confirmarEliminacion()">
                                            <i class="bi bi-trash me-2"></i> Eliminar Perfil
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                
                        <div class="card-body">
                            <img src="/user/image/{{user.id}}" alt="Foto de perfil" class="rounded-circle img-fluid mb-3 mt-5" style="width: 150px; height: 150px; object-fit: cover;">
                            <h4 class="card-title">{{user.username}}</h4>
                            <p class="text-muted">Correo: {{user.email}}</p>
                            {{#user.dateJoined}}
                            <p class="text-muted">Miembro desde: {{user.dateJoined}}</p>
                            {{/user.dateJoined}}
                        </div>
                    </div>
                </div>
                

                <!-- Sección de publicaciones -->
                <div class="col-md-8">
                    <h3 class="mb-3">Mis Publicaciones</h3>
                    <div id="post-container">
                        {{#posts}}
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text">{{postContent}}</p>
                                {{#image}}
                                <img src="/post/image/{{id}}" class="img-fluid rounded" style="max-width: 100%; max-height: 100px;">
                                {{/image}}
                                <div class="d-flex justify-content-end">
                                    <small class="text-muted">Publicado el {{creationDate}} en {{community.name}}</small>
                                </div>
                            </div>
                        </div>
                        {{/posts}}
                        {{^posts}}
                        <p class="text-muted">Aún no has publicado nada.</p>
                        {{/posts}}
                    </div>
                    <!-- Sección de Mis Comentarios -->
                    <h3 class="mb-3 mt-5">Mis Comentarios</h3>
                    <div id="comment-container">
                        {{#comments}}
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body">
                                <p class="card-text">{{comment}}</p>
                                <div class="d-flex flex-column align-items-end">
                                    <small class="text-muted">Comentado en el post: "{{post.title}}"</small>
                                    <small class="text-muted">De la comunidad: "{{post.community.name}}"</small>
                                </div>
                            </div>
                        </div>
                        {{/comments}}
                        {{^comments}}
                        <p class="text-muted">Aún no has comentado nada.</p>
                        {{/comments}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Contenedor de Toasts en la parte superior centrado -->
        <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1050;">
            <div id="alertToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">Aún no implementado</div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {{> commons/footer}}
    </body>
</html>