<!DOCTYPE html>
<html lang="es">

<head>
    <title>Linked Community</title>
    {{> commons/head}}
</head>

<body class="bg-light d-flex flex-column min-vh-100">

    {{> commons/header}}

    <div class="container flex-grow-1 mt-1">
        <form action="/userMainPage" method="get" class="mb-3">
            <button type="submit" class="btn btn-secondary align-items-center">
                <i class="bi bi-arrow-left me-2"></i> Volver a Mi cuenta
            </button>
        </form>
        <div class="row">
            <!-- Profile section -->
            {{> commons/profile}}

            <!-- My comments section -->
            <div class="col-md-8">
                <h3 class="mb-3">Mis Comentarios</h3>
                <div id="comment-container">
                    {{#comments}}
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">{{commentContent}}</p>
                            <div class="d-flex flex-column align-items-end">
                                <form action="/comment/deleteComment/{{id}}" method="post" class="d-inline mt-2"
                                    onsubmit="return confirm('¿Seguro que deseas eliminar este comentario?')">
                                    <input type="hidden" name="_csrf" value="{{token}}">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash"></i> Eliminar comentario
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/comments}}
                    {{^comments}}
                    <p class="text-muted">Aún no has comentado nada.</p>
                    {{/comments}}
                </div>
            </div>

            <!-- Pagination -->
            {{#commentsBoolean}}

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <span class="page-link">Página {{currentPage}} de {{totalPages}}</span>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="?page={{previousPage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            {{/commentsBoolean}}
        </div>
    </div>
    {{> commons/footer}}
</body>

</html>